<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <header th:insert="blocks/header :: header"></header>
    <h1>Добавление Тайтла</h1>
    <form action='/addtitle/' method="post">
        <input type="text" name="title" placeholder="Введите тайтл">
        <button type="submit">Добавить тайтл</button>
    </form>
</body>
</html>
