<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--
    Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
    Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
    -->
    <html>
        <head>
            <title>Anime Details</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <header th:insert="blocks/header :: header"></header>
            
        <th:block th:each="anime : ${animes}">
            <li>             
                <input type="checkbox" th:text="${anime.number}  + ' Эпизод'" th:checked="${anime.watched}"/>
            </li>
        </th:block>

        <form th:action="'/anime/' + ${id}" method="post">
            <input type="text" name="episodes" placeholder="Введите количество просмотреных эпизодов">
            <button type="submit">Сохранить</button>
        </form>

    </body>
</html>
