<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--
    Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
    Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
    -->
    <html>
        <head>
            <title>Anime Details</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <header th:insert="blocks/header :: header"></header>

        <div>
    <form  th:action="'/anime/' + ${id}"  method="post">
        <div class="form-group required-control">
            
            <th:block th:each="episode : ${episodes}">
            <li>    
                <input type="checkbox"
                       name="episodeList"
                       th:value="${episode.watched}"
                       th:text="${episode.episodeNumber}  + ' Эпизод' + ${episode.id}" 
                       th:checked="${episode.watched}"/>
            </li>
        </th:block>
       
        </div>
        <button type="submit">Save</button>
    </form>
</div>

    </body>
</html>
