<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Log in with your account</title>
    </head>

    <body>
         <header th:insert="blocks/header :: header"></header>
        <form th:action="@{/login}" th:method="post">
            <h2>Вход в систему</h2>
            <div>
                <input type="text" name="username" id="username" placeholder="UserName" />
                <input type="password" name="password" id="password" placeholder="Password" />
                <button type="submit">Log In</button>
                <h4><a href="/registration">Зарегистрироваться</a></h4>
            </div>
        </form>

    </body>
</html>