<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form>
      <button type="submit" formaction="/addtitle/">Click me</button>
    </form>
    <ul>
       <th:block th:each="manga : ${mangas}">
           <h1 th:text="${manga.title}"/>
           <a th:href="@{/main/{id}(id=${manga.id})}">view</a>
        </th:block>
    </ul>
</body>
</html>