<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <!--
    Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
    Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
    -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Регистрация</title>
    </head>

    <body>
        <div>
            <form th:method="post" th:action="@{/registration}" th:object="${userForm}">
                <h2>Регистрация</h2>
                <div>           
                    <input type="text" name="username" placeholder="Username"></input>             
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password"></input>
                </div>
                <div>
                    <input type="password" name="passwordConfirm" placeholder="Confirm your password"></input>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <a href="/">Главная</a>
        </div>
    </body>
</html>
